*/**/lib.sh
*.tar.gz
*.tgz

aria2/webui/webui-aria2-master
aria2/webui/*.zip
aria2/downloads
aria2-webui/config
nextcloud/data
nextcloud/config
heimdall/config
mariadb/config
plex/config
redis/data
portainer/data
smokeping/data
smokeping/config
